# .dockerignore
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.git/
.github/
.vscode/
.pytest_cache/
.mypy_cache/
dist/
build/
.eggs/
*.egg-info/
*.coverage
.coverage.*
htmlcov/
.tox/
.nox/
tests/
docs/
scripts/
# Exclude markdown files except README.md
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
SUPPORT.md
.pre-commit-config.yaml
.gitignore
.gitattributes
.editorconfig
